################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/Galacitic Manhunt
/.vs/ProjectEvaluation
/Client test/bin
/Client test/obj/Debug
/Server test/bin
/Server test/obj/Debug
